# API Keys
VITE_AIRSTACK_API_KEY=your_airstack_api_key
VITE_RESERVOIR_API_KEY=your_reservoir_api_key
VITE_ALCHEMY_API_KEY=your_alchemy_api_key
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_KEY=your_supabase_key
VITE_STRIPE_PUBLIC_KEY=your_stripe_public_key

# RainbowKit
VITE_RAINBOWKIT_PROJECT_ID=your_rainbowkit_project_id

